{% load static %}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Rita Sforça Estetica Avançada</title>
    <link type="icon" rel="shortcut icon" href="{% static 'core/img/estetica.jpeg' %}"/>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="{% static 'core/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONT AWESOME ICONS  -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <!-- CUSTOM STYLE  -->
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" />
    <!-- FULL CALENDAR CSS -->
    <!--Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href='{% static "core/css/fullcalendar.min.css" %}' rel='stylesheet' />
    <link href='{% static "core/css/fullcalendar.print.min.css" %}' rel='stylesheet' media='print' />


     <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0 tituloCabecalho" href="{% url 'core:index' %}">Estetica Avançada</a>
      <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'core:logout_page' %}">Sair</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'core:index' %}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
                 <li class="nav-item">
                <a class="nav-link" href="{% url 'core:novoAgendamento' %}">
                  <span data-feather="shopping-cart"></span>
                  Agendar Consulta
                </a>
              </li>
                  <li class="nav-item">
                <a class="nav-link" href="{% url 'core:adicionaPaciente' %}">
                  <span data-feather="file"></span>
                  Cadastrar Paciente
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'core:pacientes' %}">
                  <span data-feather="file"></span>
                  Pacientes
                </a>
              </li>



            </ul>


        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-3">
          {% block content %}{% endblock content %}
        </main>
      </div>
    </div>
    {% block modal %}
    {% endblock modal %}
    <!-- CONTENT-WRAPPER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
   
    

    <!-- FULL CALENDAR -->
    <script src='{% static "core/js/moment.min.js" %}'></script>
    <script src='{% static "core/js/fullcalendar.min.js" %}'></script>
    <script src='{% static "core/js/pt-br.js" %}'></script>
    <script src='{% static "core/js/jquery.mask.js" %}'></script>
    <script src="{% static 'core/js/sitemask.js' %}"></script>
   {% block scripts %}{% endblock scripts %}
</body>
</html>
