{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="page-header text-center mb-3">
        <h1 class="text-secondary">Agendar Consulta</h1>
    </div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="{% url 'core:novoAgendamento' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="font-weight-bold" for="{{ form.paciente.id_for_label }}">Paciente</label>
                {{ form.paciente | add_class:"form-control" }}
                <label class="font-weight-bold" for="{{ form.servico.id_for_label }}">Serviço</label>
                {{ form.servico | add_class:"form-control" }}
                <label class="font-weight-bold" for="{{ form.data_consulta.id_for_label }}">Data</label>
                {{ form.data_consulta | add_class:"form-control data" }}
                <label class="font-weight-bold" for="{{ form.hora_inicio.id_for_label }}">Hora Inicial</label>
                {{ form.hora_inicio | add_class:"form-control hora" }}
                <label class="font-weight-bold" for="{{ form.hora_final.id_for_label }}">Hora Final</label>
                {{ form.hora_final | add_class:"form-control hora" }}
                <label class="font-weight-bold" for="{{ form.observacoes.id_for_label }}">Observações</label>
                {{ form.observacoes | add_class:"form-control" }}
                <label class="font-weight-bold" for="{{ form.status.id_for_label }}">Status</label>
                {{ form.status | add_class:"form-control" }}
                <label class="font-weight-bold" for="{{ form.form_pagamento.id_for_label }}">Forma de Pagamento</label>
                {{ form.form_pagamento | add_class:"form-control" }}
            </div>
            <button class="btn btn-secondary">Salvar</button>
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}