{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="page-header text-center mb-3">
    <h2 class="text-secondary">Editar</h2>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
<form action="{% url 'core:editaPaciente' paciente.id %}" method="post">

    {% csrf_token %}
    <div class="form-group">
         <label for="{{ form.nome.id_for_label }}">Nome</label>
                 {{ form.nome | add_class:"form-control"}}

                <label>Nascimento</label>
                {{ form.nascimento | add_class:"form-control data"}}


                <label for="{{ form.cpf.id_for_label }}">RG</label>
                {{ form.cpf | add_class:"form-control" }}

                 <label for="{{ form.cpf.id_for_label }}">Profissão</label>
                {{ form.profissao | add_class:"form-control" }}


                <label for="{{ form.celular.id_for_label }}">Celular</label>
                {{ form.celular | add_class:"form-control celular" }}


                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email | add_class:"form-control" }}


                <label for="{{ form.cep.id_for_label }}">CEP</label>
                {{ form.cep | add_class:"form-control cep" }}


                <label for="{{ form.endereco.id_for_label }}">Endereço</label>
                {{ form.endereco | add_class:"form-control" }}


                <label for="{{ form.cidade.id_for_label }}">Cidade</label>
                {{ form.cidade | add_class:"form-control" }}
   </div>
    <button class="btn btn-secondary" >Editar Paciente</button>
</form>
    </div>
</div>
{% endblock content %}