{% extends 'core/base.html' %}
{% block content %}

<div class="page-header text-center">
    <h3 class="text-secondary">Histórico do Paciente - {{ paciente}}</h3>
</div>

    {% if saldo > 0 %}
    <div class="alert alert-danger">
        <li>Paciente com saldo devedor de: R${{saldo}}</li>
    </div>
    {% endif %}

    {% for hist in historico %}
    {% if hist.status.id == 2 and hist.form_pagamento is None %}
        <ul class="text-danger">
     {% elif hist.status.id == 1 and hist.form_pagamento is not None %}
        <ul class="text-info">
    {% else %}
        <ul>
    {%endif%}


        <li><strong>{{hist.servico}}</strong></li>
        <ul>
            <li>Data:</li>
            <ul>
                <li>{{hist.data_consulta}}</li>
            </ul>
            <li>Status:</li>
            <ul>
                <li>{{hist.status}}</li>
            </ul>
            <li>Valor:</li>
            <ul>
                <li>R$ {{hist.servico.valor}}</li>
            </ul>
            <li>Pagamento:</li>
            <ul>
                <li>
                    {% if hist.form_pagamento %}
                        {{hist.form_pagamento}}
                    {% else %}
                        Sem Registro de Pagamento
                    {% endif %}
                </li>
            </ul>
            <li>Observações:</li>
            <ul>
                <li>{{hist.observacoes}}</li>
            </ul>
        </ul>
    </ul>
    <hr>

    {% empty %}
    <div class="alert alert-warning mt-5">

             <li>Não existe histórico para o paciente selecionado.</li>

    </div>

    {% endfor %}

    <span class="text-danger">* Atendimento realizado e pagamento não efetuado</span><br>
    <span class="text-info">* Atendimento não realizado e pagamento efetuado</span>
{% endblock content%}