{% extends "core/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Dashboard</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes da Consulta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>       
      </div>
      <div class="modal-body sm">
       <strong id="servico"></strong>
       <ul style="list-style: none">
           <li>Paciente:</li>
           <ul>
                <li id="paciente"></li>
           </ul>
            <li>Data da Consulta:</li>
           <ul>
                <li ><span id="data"></span> das <span id="hora_inicio"></span> às  <span id="hora_final"></span></li>
           </ul>
            <li>Observações:</li>
           <ul>
                <li id="observacoes"></li>
           </ul>
           <li>Status da Consulta:</li>
            <ul>
                <li id="status"></li>
            </ul>
           <li>Forma de Pagamento:</li>
            <ul>
                <li id="pagamento"></li>
            </ul>

       </ul>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" id="idAgenda" value="" onclick="editaAgenda(this)">Editar Agendamento</button>
        
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block scripts %}
<script>

    function editaAgenda(event)
    {
        location.href = "{% url 'core:editarAgendamento' 1234 %}".replace(/1234/, +$(event).val());
    }


  window.onload = function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },

      eventClick: function(event)
      {

            let data = moment(event.start).format("DD-MM-YYYY");
            let hora_inicio = moment(event.start).format("HH:mm");
            let hora_final = moment(event.end).format("HH:mm");
            $("#servico").text(event.servico);
            $("#paciente").text(event.paciente);
            $("#data").text(data);
            $("#hora_inicio").text(hora_inicio);
            $("#hora_final").text(hora_final);
            $("#observacoes").text(event.observacoes);
            $("#status").text(event.status);
            $("#idAgenda").val(event.id);
             if(event.pagamento == 'None')
            {
                $("#pagamento").text('Sem informação de Pagamento')
            }
            else
            {
                $('#pagamento').text(event.pagamento)
            }

            $(".modal").modal();
      },
          
      defaultDate: new Date(),
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      themeSystem: 'bootstrap4',

      height: 'parent',
      contentHeight: 600,

      events: [
        {% for var in agenda %}
        {
          title: '{{var}} - {{var.paciente}}',
          start: "{{var.data_consulta | date:'Y-m-d'}} {{var.hora_inicio | date:'H:i'}}",
          end: "{{var.data_consulta | date:'Y-m-d'}} {{var.hora_final | date:'H:i'}}",
          id: {{var.id}},
          {% if var.status.id == 2 %}
            color: 'green',
          {% endif %}
          paciente: '{{var.paciente}}',
          observacoes: "{{var.observacoes}}",
          status: '{{var.status}}',
          pagamento: '{{var.form_pagamento}}',
          servico : '{{var}}'
        },
        {% endfor %}

        

      ],
     
    });

  };
</script>
{% endblock scripts %}