{% load static %}
{% load widget_tweaks %}
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Estetica Avançada - Página de Login</title>

    <!-- Bootstrap core CSS -->
     <link href="{% static 'core/css/bootstrap.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/singin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="{% url 'core:login' %}">

      <img class="mb-4" src="{% static 'core/img/estetica.jpeg' %}" alt="" width="150" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Realizar Login</h1>
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <li>Usuário ou senha incorretos.</li>
            </div>
        {% endif %}
      <label class="sr-only">Usuário</label>
        {{ form.username | append_attr:"class:form-control" | append_attr:"placeholder:Usuário"}}
      <label class="sr-only">Senha</label>
        {{ form.password | add_class:"form-control" | append_attr:"placeholder:Senha"}}
      <!--<div class="checkbox mb-3">-->
        <!--<label>-->
          <!--<input type="checkbox" value="remembls
          er-me"> Remember me-->
        <!--</label>-->
      <!--</div>-->
        <input type="hidden" name="next" value="{% url 'core:index' %}">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
  </body>
</html>
