{% extends 'core/base.html' %}

{% block content %}
<div class="page-header">
    <h2 class="text-secondary">Pacientes</h2>
</div>
<div class="row mb-2 mt-3">
    <div class="col-md-2">
      <a class="btn btn-secondary btn-sm" href="{% url 'core:adicionaPaciente' %}" title="Adicionar novo" >
          <i class="fas fa-user-plus"></i>
      </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Nome</th>
            <th>Nascimento</th>
            <th>RG</th>
            <th>Telefone</th>
        </tr>
        {% for paciente in pacientes %}
            <tr>
                <td>
                    {{paciente.nome}}
                </td>
                <td>
                    {{paciente.nascimento | date:"d/m/Y"}}
                </td>
                <td>
                    {% if paciente.cpf is not none %}
                        {{paciente.cpf}}
                    {% endif %}

                </td>
                <td>
                    {{paciente.celular}}
                </td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{% url 'core:editaPaciente' paciente.id  %}"  title="Editar">
                       <i class="fas fa-user-edit"></i>
                    </a>
                    <a class="btn btn-secondary btn-sm" href="{% url 'core:historicoPaciente' paciente.id %}"  title="Historico do Paciente">
                       <i class="fas fa-history"></i>
                   </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}
{% block scripts %}
<script>
   window.onload = function(){
    $('[data-toggle="tooltip"]').tooltip();
};
</script>
{% endblock scripts %}