{% extends 'core/base.html' %}

{% block content %}
<h1>Serviços</h1>
<table border="1" style="border-collapse: collapse">
    <tr>
        <td>Código</td>
        <td>Serviço</td>
        <td>Valor</td>
    </tr>
    {% for servico in servicos %}
       <tr>
           <td>{{servico.id}}</td>
           <td>{{servico}}</td>
           <td>{{servico.valor}}</td>
       </tr>
    {% endfor %}
</table>
{% endblock content %}